# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/storage/*.key
backend/storage/app/public/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*

# React
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
.classpath

# OS
.DS_Store
Thumbs.db

# Deployment
deployment_package/
*.zip

#docs
VPS_start_docs.txt
Setup_summary.txt
readme_architecture.txt
quick-fix.sh
docker-compose.yml.backup-20250722_182857
CyberPanel_deploy.txt
docker-compose.dev.yml